# Python files
__pycache__/
*.py[cod]

# Virtual envs
.env/
venv/
env/

# Env secrets
.env
*.env

# Chroma store (or any vector DB folder)
chroma_store/
chroma_store/*

# App files if placed in frontend
frontend/app.py

# Streamlit, VSCode, system
.streamlit/
.vscode/
.DS_Store
Thumbs.db

# Exported files
exports/
uploads/
